
  .title {
	text-align: center;
	font-family: Arial;
	margin-top: 50px;
	margin-bottom: 50px;
  }
  .accordion__item {
	margin-bottom: 10px;
  }
  .accordion__item__header {
	background-color: #003349;
	padding: 15px;
	cursor: pointer;
	position: relative;
	color: #fff;
	font-family: Arial;
	font-weight: 400;
	font-size: 20px;
  }
  .viss{
	visibility: hidden;
  }
  .accordion__item__header::before {
	height: 15px;
	width: 15px;
	content: "";
	position: absolute;
	right: 15px;
	top: 15px;
	transition: 0.5s all;
	transform: rotate(45deg);
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
  }
  .accordion__item__header.active {
	background-color: #33a0ff;
	color: #fff;
	transition: 0.4s;
  }
  .accordion__item__header.active::before {
	transform: rotate(-135deg);
	top: 23px;
  }
  .accordion__item__content {
	overflow-y: hidden;
	padding: 0;
	display: none;
  }
  


  